name: Test PR

on:
  pull_request:
    branches:
    - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v4
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: amd64,arm64,arm
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Build
      uses: docker/build-push-action@v6
      with:
        pull       : true
        push       : false
        context    : .
        file       : ./Dockerfile
        platforms  : linux/amd64,linux/arm/v7,linux/arm64/v8
        cache-from : type=gha,scope=${{ github.workflow }}
        cache-to   : type=gha,scope=${{ github.workflow }},mode=max
